<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.northeastern.numad23sp_neharamachandra">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"-->
<!--        tools:ignore="CoarseFineLocation" />-->


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_nehar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_nehar_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD23Sp_NehaRamachandra"
        tools:targetApi="31">
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity
            android:name=".PrimeDirective"
            android:exported="false" />
        <activity
            android:name=".RecyclerLinkAdapter"
            android:exported="false" />
        <activity
            android:name=".LinkModel"
            android:exported="false" />
        <activity
            android:name=".LinkCollector"
            android:exported="false" />
        <activity
            android:name=".AboutMeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_Clicky_Final"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>